*{
    margin: 0; padding: 0;
}

header{
    margin-bottom: 0;
}
header #category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header #category ul{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding-right: 30px;
}
header #category ul li {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
}
header #category ul li:not(:first-child):not(:last-child)::before{
    content: "│"; /* 구분자 추가 */
    position: absolute;
    left: -28px; /* 위치 조정 (필요에 따라 조정) */
    color: rgb(0, 0, 0, 0.3); /* 구분자 색상 */
}

header #category ul li a{
    text-decoration: none;
    color: #222;
    font-size: 15px;
    box-shadow: inset 0 0 0 0 #4a4e69;
    border-radius: 3px;
    margin: 0 -.25rem;
    padding: 1px .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

header #category ul li a:hover {
    box-shadow: inset 100px 0 0 0 #4a4e69;
    color: white; 
}

header #category ul li #signUp{
    background-color: #222;
    margin-left: -10px;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

#headerLogo{
    width: 90px;
    height: 100%;
    padding-top: 10px;
    padding-left: 15px;
}

main #eventbanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

main #eventbanner a {
    display: flex; /* 부모 요소를 flex로 변경 */
    justify-content: center; /* 내부 비디오를 중앙 정렬 */
    align-items: center; /* 내부 비디오를 중앙 정렬 */
    border-radius: 15px;
    margin: 0; /* 여백 제거 */
    padding: 0; /* 여백 제거 */
}

main #eventbanner div{
    position: absolute;
    transform: translate(-170px, 110px); /* 수평 이동을 조정하여 더 왼쪽으로 */
    z-index: 1; /* 비디오 위에 표시되도록 설정 */
    pointer-events: none; /* 클릭 이벤트 무시 (필요 시) */
}
main #eventbanner div h2{
    font-size: 40px;
    color: white;
    line-height: 45px;
}
main #eventbanner div h3{
    transform: translate(-5px);
    margin-top: 3px;
    font-size: 20px;
    color: lightgrey;
}


main #eventbanner video {
    width: 720px;
    height: 70%;
    border-radius: 7px;
    margin: 0; /* 여백 제거 */
    padding: 0; /* 여백 제거 */
}

#footer .notice_Area{
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid #e2e2e2;
}

#footer .notice_Area .noticebox{
    display: flex;
    font-size: 12px;
}

#footer .notice_Area .noticebox .title{
    font-weight: bolder;

}
#footer .notice_Area .noticebox a, a:visited{
    margin: auto 20px;
    color: #000;
    text-decoration: none !important;
}
.corp_area {
    width: 95%;
    margin: 0 auto;
}
.corp_area .list_corp{
    border-top: 1px solid #e2e2e2;
    margin: 0 auto;
    text-align: center;
}
.corp_area .list_corp li{
    list-style: none;
    display: inline-block;
    margin: 10px 0px 20px 0px;
}
.corp_area .list_corp li:not(:first-child)::before{
    content: "│"; /* 구분자 추가 */
    position: relative;
    left: -1px; /* 위치 조정 (필요에 따라 조정) */
    color: #e2e2e2; /* 구분자 색상 */
}
.corp_area .list_corp li a, a:visited{
    color: #e2e2e2;
    text-decoration: none;
    font-size: 12px;
}

.corp_area .addr{
    text-align: center;
    font-size: 12px;
}
.corp_area .addr a, a:visited{
    color: #e2e2e2;
    text-decoration: none;
}
