*{
    margin: 0; padding: 0;
}

/* 헤더 */

header{
    margin-bottom: 0;
}
header #category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header #category ul{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding-right: 30px;
}
header #category ul .login_none{
    display:none;
}
header #category ul li {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
}
header #category ul li:not(:first-child):not(:last-child)::before{
    content: "│"; /* 구분자 추가 */
    position: absolute;
    left: -28px; /* 위치 조정 (필요에 따라 조정) */
    color: rgb(0, 0, 0, 0.3); /* 구분자 색상 */
}

header #category ul li a{
    text-decoration: none;
    color: #222;
    font-size: 15px;
    box-shadow: inset 0 0 0 0 #4a4e69;
    border-radius: 3px;
    margin: 0 -.25rem;
    padding: 1px .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

header #category ul li a:hover {
    box-shadow: inset 100px 0 0 0 #4a4e69;
    color: white; 
}

#userName{
    text-decoration: none;
    color: #222;
    font-size: 15px;
    box-shadow: inset 0 0 0 0 #4a4e69;
    border-radius: 3px;
    margin: 0 -.25rem;
    padding: 1px .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#logOut{
    background-color: #222;
    margin-left: -10px;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
}
header #category ul li #signUp{
    background-color: #222;
    margin-left: -10px;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

/* 로고 스타일 */

#headerLogo{ 
    width: 90px;
    height: 100%;
    padding-top: 10px;
    padding-left: 15px;
}

/* 메인 - 이벤트배너 */

#eventbanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

#eventbanner video {
    width: 900px;
    height: 70%;
    border-radius: 7px;
    margin: 0; 
    padding: 0; 
}

#eventbanner .inVideoText{
    position: absolute;
    transform: translate(-260px, 150px); /* 수평 이동을 조정하여 더 왼쪽으로 */
    z-index: 1; /* 비디오 위에 표시되도록 설정 */
    pointer-events: none; /* 클릭 이벤트 무시 (필요 시) */
}
#eventbanner .inVideoText .iVTh2{
    font-size: 40px;
    color: white;
    line-height: 45px;
}
#eventbanner .inVideoText .iVTh2 span{
    color: rgb(130, 173, 255);
}
#eventbanner .inVideoText .iVTh3{
    transform: translate(-5px);
    margin-top: 3px;
    font-size: 20px;
    color: lightgrey;
}


/* 사이 텍스트 */

#text{
    text-align: center;
    font-family: 휴먼편지체;
    color: rgb(76, 62, 31);
}
#text h2{
    margin: 80px 0 20px 0;
    font-size: 17px;
}
#text p{
    line-height: 25px;
    margin-bottom: 80px;
}



/* 메인 - 상품 배너 */

main h1{
    font-size: 20px;
    margin-left: 100px;
}
main h1::before {
    content: "\f521"; /* Font Awesome 유니코드 */
    font-family: 'FontAwesome'; /* Font Awesome 폰트 패밀리 설정 */
    margin-right: 0.5rem; /* 아이콘과 텍스트 사이 여백 */
    font-size: inherit; /* 부모 요소의 폰트 크기 상속 */
}

main #mainbox {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    height: 100vh; /* 높이 설정 (예시로 100vh 사용) */
    flex-wrap: wrap; /* 아이템을 여러 줄로 감싸기 위해 추가 */
    justify-content: center; /* 가로로 중앙 정렬 */
    margin-bottom: 700px;
}

main #mainbox #items {
    background-color: #fff;
    width: 250px;
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    gap: 5px;
    padding: 10px;
}

main #mainbox #items img {
    width: 100%;
    height: 300px;
    border-radius: 4px;
}

main #mainbox #items .sales_color {
    color: lightcoral;
    font-family: 휴먼편지체;
    font-weight: bold;
    font-size: 13px;
}

main #mainbox #items s {
    color: gray;
    font-family: 휴먼편지체;
    font-weight: bold;
    font-size: 13px;
}

main #mainbox #items .price {
    font-family: 휴먼편지체;
    font-weight: bold;
}

main #mainbox #items .discount_rate {
    color: lightcoral;
    font-family: 휴먼편지체;
    font-weight: bold;
}

main #mainbox #items .name {
    font-size: 13px;
    font-weight: bold;
}

main #mainbox #items .name a {
    color: #000;
    text-decoration: none;
}

main #mainbox #items .name a:hover {
    color: lightcoral;
}

main #mainbox #items .brand {
    font-size: 12px;
    color: gray;
}

#mainbox #swipeBtn{
    background-color: #4a4e69;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50px;
}
#swipeBtn::after {
    content: "\f105";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 4em;
    line-height: 28px;
    color: #fff;
}

.js-tilt-glare {
    border-radius: 18px;
}

/* 푸터 스타일 */
#footer .notice_Area{
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid #e2e2e2;
}

#footer .notice_Area .noticebox{
    display: flex;
    font-size: 12px;
    margin: 20px 0px;
}

#footer .notice_Area .noticebox .title{
    font-weight: bolder;

}
#footer .notice_Area .noticebox a, a:visited{
    margin: auto 20px;
    color: #000;
    text-decoration: none !important;
}
.corp_area {
    width: 95%;
    margin: 0 auto;
}
.corp_area .list_corp{
    border-top: 1px solid #e2e2e2;
    margin: 0 auto;
    text-align: center;
}
.corp_area .list_corp li{
    list-style: none;
    display: inline-block;
    margin: 10px 0px 20px 0px;
}
.corp_area .list_corp li:not(:first-child)::before{
    content: "│"; /* 구분자 추가 */
    position: relative;
    left: -1px; /* 위치 조정 (필요에 따라 조정) */
    color: #e2e2e2; /* 구분자 색상 */
}
.corp_area .list_corp li a, a:visited{
    color: #e2e2e2;
    text-decoration: none;
    font-size: 12px;
}

.corp_area .addr{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}
.corp_area .addr a, a:visited{
    color: #e2e2e2;
    text-decoration: none;
}
