main{
    width: 1000px;
    margin: 50px auto;
}
#brand{
    font-size: 12px;
    color: gray;
    margin: 10px 0px;
}

#product{
    display: flex;
}
#product img{
    width: 45%;
    height: auto;
}

#product #name{
    font-size: 24px;
    margin-left: 100px;
}
#product #product_price{
    margin-top: 20px;
    justify-content: right;
    display: flex;

}
#product #product_price p{
    font-size: 26px;
    font-weight: bolder;
    margin-left: 10px;
}
#product #discount_rate{
    color: red;
}
#original_price{
    text-decoration: line-through;
    color: #ccc;
}
#option{
    margin-top: 160px;
}
#option p{
    font-size: 18px;
    font-weight: 700px;
    text-align: right;
}
#option form{
    text-align: right;
}
#option form select{
    width: 400px;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
}
#btn_box{
    display: flex;
    justify-content: right;
    margin-top: 30px;
    align-items: center; /* 수직 가운데 정렬 */
    border-radius: 5px;

}

#btn_box a, a:hover{
    color: aliceblue;
    text-decoration: none;
}
#basket{
    width: 200px;
    height: 40px;
    background-color: #4a4e69;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    border-radius: 5px;
}


#order{
    width: 200px;
    height: 40px;
    background-color:#4a4e69;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-left: 15px;
    border-radius: 5px;
}

#detail_button{
    margin: 50px auto;
    width: 100%;
    height: 40px;
    background-color:white;
    display: flex;
    border: #4a4e69 2px solid;
    border-radius: 5px;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    color: #4a4e69;
}
#detail_image{
    text-align: center;
}

@font-face {
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Regular-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.banner{
    width: 100%;
    height: 50px;
    background: linear-gradient(to right,#598fb2, #6DD5FA);
}
.banner p{
    color: azure;
    text-align: center;
    line-height: 50px;
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
    font-size: 18px;
    font-weight: 400;
}
#mid{
    display: flex;
    justify-content: right;
    align-items: center;
}
#star{
    display: flex;
    justify-content: center;
    color: #ccc;
    align-items: center;
}
#star img{
width: 75%;
}
#comment{
    font-weight: 600;
    color: rgb(109, 109, 249);
}
#case{
    width: 65%;
    position: relative;
    top: 140px;
    left: 190px;
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    padding: 10px 0px;

}
#card {
    font-family: FontAwesome;
    font-size: 2em;
    color: #4a4e69;
    margin-right: 10px;
}
#cardbox{
    display: flex;
    justify-content: right;
    align-items: center;
}
#card_text{
    font-size: 14px;
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
}